/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
    footer .right-content {
        padding: 30px 0;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }
    .my-sm-4 {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .my-md-2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }
    footer .right-content {
        padding: 30px 0;
    }
    .news-container-bg {
        background-size: cover;
    }
    .navbar-nav {
        padding-right: 0 !important;
    }
    .banner-slider-container .swiper-slide .left {
        margin-top: 80px;
    }
    .whatClienSay-container .white-container {
        right: 0;
    }
    .banner-slider-container .swiper-slide .text{
        font-size: 15px;
        line-height: 1.5rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }



}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }

    .navbar {
        padding: 0rem 1rem;
    }

    .container {
        flex-flow: row;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
        flex-flow: row;
    }

    .navbar {
        padding: 0rem 1rem;
    }
}