/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }

    footer .right-content {
        padding: 30px 0;
    }
    .main-sub-content .prev-disabled,
    .main-sub-content .next-step,.main-sub-content .prev-step {
        padding: 12px 40px;
    }
}

@media (max-width: 735px) {
    .buttons-form-section {
        padding: 0;
    }
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }

    .my-sm-4 {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .my-md-2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }

    footer .right-content {
        padding: 30px 0;
    }

    .news-container-bg {
        background-size: cover;
    }

    .navbar-nav {
        padding-right: 0 !important;
    }

    .achievements-in-numbers-container .achievements-right-content {
        text-align: center;
    }

    .whatClienSay-container .white-container {
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        position: relative;
        bottom: 70px;
    }

    .main-sub-content .wizard .nav-tabs>li {
        margin-bottom: 15px;
    }

    .main-sub-content .wizard .nav-tabs>li a i {
        font-size: 10px;
    }

    .banner-slider-container .swiper-slide .text {
        font-size: 15px;
        line-height: 1.5rem;
    }

    .main-sub-content .wizard .nav-tabs {
        margin: 0;
        padding: 0;
        gap: 0;
        padding-bottom: 20px;
    }

    .main-sub-content .wizard .nav-tabs>li::before {
        display: none;
    }

    footer .list-unstyled {
        padding-right: 0px;
    }

    .login-button {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: var(--black);
        font-size: 16px;
        font-weight: 700;
        padding: 0.5rem 1rem;
        padding-right: 0;
    }

    .login-button:hover,.login-button.active  {
        background: transparent;
        color: var(--black);
        box-shadow: none;
        opacity: 1;
    }

    .footer-bottom p {

        font-size: 10px;
    }

    footer .left-content {
        padding-left: 0;
    }

    .main-sub-content .prev-disabled,
    .main-sub-content .next-step,.main-sub-content .prev-step {
        padding: 12px 40px;
    }

    .whatClienSay-container .white-container {
        width: 245px;
    }

    .whatClienSay-container .whatClienSay-right-content img {
        width: 215px;
        height: 225px;
    }

    .whatClienSay-container .container-with-bg-border {
        height: 260px;
    }
    .signup-sucess-contaoner {
        width: auto;
    }
    .signup-sucess-contaoner h4 {
        font-size: 18px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .login-button {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: var(--black);
        font-size: 16px;
        font-weight: 700;
        padding: 15px 20px;
        padding-right: 0;
    }
    .login-button:hover,.login-button.active {
        color: var(--black);
        background: transparent;
        box-shadow: none;
    }
    .navbar {
        padding: 0.5rem 1rem;
    }

    .container {
        flex-flow: row-reverse;
    }

    .whatClienSay-container .white-container {
        width: 185px;
        right: -2px;
    }

    .banner-slider-container {
        height: 320px;
        min-height: auto;
    }

    .contact-card h5 {
        font-size: 17px;
    }

    .contact-card .icon {
        bottom: 41px;
        left: 10px;
        width: 25px;
        height: 25px;
    }
    .w-60 {
        width: 75%;
    }

    .achievements-in-numbers-container .achievements-left-content .counters-elements .item {
        padding: 15px;
    }
    footer .logo img {
        width: 140px;
    }

    .navbar-nav {
        padding: 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-sub-content .next-step,.main-sub-content .prev-disabled {
        padding: 12px 85px;
    }
    .login-button {
        color: var(--white);
        background: var(--primary);
        font-size: 14px;
        font-weight: 700;
        transition: var(--transition);
        cursor: pointer;
        text-align: start;
        line-height: 16px;
        padding: 15px 40px;
        padding-right: 40px;
        border-radius: 8px;
        box-shadow: #047E73 0px 3px;
        transition: var(--transition);
    }
    .login-button:hover{
        color: var(--white);
        background: var(--primary);
        box-shadow: #047E73 0px 3px;
        
    }
    .login-button.active {
        color: var(--white);
        background: var(--secondary);
        box-shadow: #977a38 0px 3px;
    }
    .navbar-nav {
        padding: 0;
    }
        .container {
            max-width: 1100px;
        }
    .whatClienSay-container .white-container {
        width: 295px;
        right: 18px;
    }
    .achievements-in-numbers-container .achievements-left-content .counters-elements .item {
        padding: 20px;
    }
    footer .logo img {
        width: 190px;
    }
    .w-60 {
        width: 60%;
    }

    .contact-card .icon {
        bottom: 15px;
        left: 20px;
        width: 35px;
        height: 35px;

    }

    .contact-card h5 {
        font-size: 20px;
    }

    .banner-slider-container {
        height: calc(100vh - 400px);
        min-height: 350px;

    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.9rem;
        padding-left: 0.7rem;
        font-size: 14px;
    }

    .navbar {
        padding: 0rem 1rem;
    }

    .container {
        flex-flow: row;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        font-size: 16px;
    }
    .login-button {
        color: var(--white);
        background: var(--primary);
        font-size: 14px;
        font-weight: 700;
        transition: var(--transition);
        cursor: pointer;
        text-align: start;
        line-height: 16px;
        padding: 15px 40px;
        padding-right: 40px;
        border-radius: 8px;
        box-shadow: #047E73 0px 3px;
        transition: var(--transition);
    }
    .container {
        max-width: 1250px;
        flex-flow: row;
    }

    .navbar {
        padding: 0rem 1rem;
    }
}


@media (min-width: 1350px) {
    .container {
        max-width: 1180px;
        flex-flow: row;
    }

    .navbar {
        padding: 0rem 1rem;
    }
}